<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estadisticas</title>
    <link rel="stylesheet" href="../../static/styles.css" />
  </head>
  <body id="landing">
    <div class="bienvenida">
      <h1 id="texto-bienvenida">
        Bienvenido al sitio de estadísticas de la Universidad del Valle
      </h1>
      <a href="/usuarios" id="boton-principal">Ingresar</a>
    </body>
    </div>
</html>
