<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estadisticas</title>
    <link rel="stylesheet" href="../../static/styles.css" />
  </head>
  <body>
    <header>
      <img src="../../static/header.jpg" alt="" class="logo" />
      <nav>
        <ul class="nav-links">
          <li><a href="">Log In</a></li>
          <li><a href="">Sign Up</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
