<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estadisticas</title>
    <link rel="stylesheet" href="../../static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body id="body-estudiantes">
    <div class="navbar-estudiantes">
      <a href="/"><img src="/static/icon.jpg" alt="" /></a>
      <nav id="nav">
        <ul>
          <li class="hola"><a href="#section1">Estudiantes</a></li>
          <li class="hola"><a href="#section2">Asignaturas</a></li>
        </ul>
      </nav>
    </div>
    <div class="info">
      <section id="section1">
        <span class="contador" data-val="{{total_usuarios}}">0</span>
        <h1>Usuarios del campus de la Universidad del Valle</h1>
        <p>
          Inspired by the new Android Lollipop UI, the navbar gets colored
          dynamically with a tinted background-color of each following section.
        </p>
      </section>
      <section id="section2">
        <span class="contador" data-val="{{total_sedes}}">0</span>
        <h1>Sedes regionales de la Universidad del Valle</h1>
        <p>
          By the way each section is displayed full screen just by one line of
          css. You can use viewport untis for flexible heights and widths.
        </p>
      </section>
    </div>
    <div>
      <a href="/info"><i class="fa-solid fa-circle-arrow-right"></i></a>
    </div>
    <div class="sabermas-div"><a class="sabermas">Saber más</a></div>
    <script src="../../static/script.js"></script>
  </body>
</html>
