<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estadisticas</title>
    <link rel="stylesheet" href="../../static/styles.css" />
    <link href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css" rel="stylesheet">
</head>

<body id="body-estudiantes">
    <div class="navbar-estudiantes">
        <a href="/"><img src="/static/icon.jpg" alt="" /></a>
        <nav id="nav">
            <ul>
                <li><a href="#section1">Estudiantes</a></li>
                <li><a href="#section2">Asignaturas</a></li>
            </ul>
        </nav>
    </div>
    {%block aditional%}{%endblock%}
</body>

</html>