@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');
*{
  padding:0;
  margin:0;
  font-family:'Montserrat', sans-serif;
  text-decoration: none;
}
#landing {
    background-image:
        linear-gradient(rgba(139, 0, 0, 0.6), rgba(139, 0, 0, 0.6)), 
        url('https://images.pexels.com/photos/416405/pexels-photo-416405.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

background-position: center center;

background-repeat: no-repeat;

background-attachment: fixed;

background-size: cover;

background-color: #464646;
padding-top: 35vh;
}

.bienvenida{
  text-align: center;
  top: 50%;
}

#texto-bienvenida{
  color:white;
  margin-bottom: 3%;
}

#boton-principal{
  transition-duration: 0.4s;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-size: 12px;
  font-family:'Montserrat', sans-serif;
  padding: 1% 2%;
  margin-top: 3vh;
}

#boton-principal:hover{
  background-color: #cd1f32;
}

/* Estilos actuales */
#navbar{
  background-color: #c3161a;
}
#navbar a{
  color: white;
  font-size: 1.75em;
}
 
.red-custom-card{
  background-color: #c3161a;
  text-align: center;
}

.light-custom-card{
  text-align: center;
}
#card-title{
  font-size: 2.5em;
}